<html>
<head>
<script>
function rtmpurl(){
	return {{.Url}}
}
</script>
</head>
<body>
<div style="display:block;clear:both;margin:auto;position:absolute;border:none;">
<object id="MTI2VOH8TP6CSKXJ" data="/static/swf/video.swf#" type="application/x-shockwave-flash" width="640" height="360" style="position:absolute;margin:auto;border:none;"><param name="movie" value="/static/swf/video.swf#"><param name="wmode" value="transparent"><param name="version" value="10"><param name="allowScriptAccess" value="always"><param name="flashvars" value="jsproxyfunction=MTI2VOH8QNHC4G6K"></object></div>
</body>
</html>